<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: "Product Cart"}) %>

  <body class="body-cart">
    <%- include('../partials/header') %>

<!--     <div class="container-md cart-page">
      <table class="table-cart">
        <tr>
          <th class="th-cart">Product</th>
          <th class="th-cart">Quantity</th>
          <th class="th-cart">Subtotal</th>
        </tr>

        <tr style="border-bottom: 1px solid grey">
          <td class="td-cart">
            <div class="cart-info">
              <img
                class="img-cart"
                src="/images/shoes-img/<%=allShoes[0].productName%>/<%=allShoes[0].img%>"
                alt=""
              />
              <div>
                <p><%= allShoes[0].productName %></p>
                <small>Price $<%= allShoes[0].price %></small>
              </div>
            </div>
          </td>
          <td class="td-cart">
            <input class="qty-cart" type="number" value="1" />
            <a class="remove-cart" href=""><i class="far fa-trash-alt"></i></a>
          </td>
          <td class="td-cart">$<%= allShoes[0].price %></td>
        </tr>

        <tr>
          <td class="td-cart">
            <div class="cart-info">
              <img
                class="img-cart"
                src="/images/shoes-img/<%=allShoes[1].productName%>/<%=allShoes[1].img%>"
                alt=""
              />
              <div>
                <p><%= allShoes[1].productName %></p>
                <small>Price $<%= allShoes[1].price %></small>
              </div>
            </div>
          </td>
          <td class="td-cart">
            <input class="qty-cart" type="number" value="1" />
            <a class="remove-cart" href=""><i class="far fa-trash-alt"></i></a>
          </td>
          <td class="td-cart">$<%= allShoes[1].price %></td>
        </tr>
      </table>

      <div class="total-price">
        <table class="table-cart">
          <tr>
            <td class="td-cart">Total</td>
            <td class="td-cart">
              $<%- allShoes[1].price + allShoes[0].price %>
            </td>
          </tr>
        </table>
      </div>
      <div class="boton-carrito">
        <a href="https://mpago.la/1pY3Qhq" id="buy-cart" class="submit-cart"
          >Buy Now</a
        >
      </div>
    </div> -->

    <main class="mt-5 pt-4">
        <div class="container wow fadeIn animated">
            <h2 class="mt-5 mb-3 h2 text-center"> Productos en mi carrito</h2>
            <div class="card my-5">
                <div class="card-body">
                    <table class="table table-responsive-md mb-0">
                        <thead>
                            <tr>
                                <th style="width: 50px;">
                                    <strong>#</strong>
                                </th>
                                <th class="th-lg">
                                    <strong>Producto</strong>
                                </th>
                                <th class="th-lg ">
                                    <strong>Precio</strong>
                                </th>
                                <th class="text-center">
                                    <strong>Cantidad</strong>
                                </th>
                                <th class="text-center">
                                    <strong>Subtotal</strong>
                                </th>
                                <th style="width: 50px;"></th>
                            </tr>
                        </thead>
                        <tbody class="cartRows">
                        </tbody>
                    </table>
                    <div class="card-footer text-right">
                        <h2>Total: <span class="totalAmount">$ 0</span></h2>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center">
                    Terminar la compra
                </div>
                <form class="card-body" id="checkoutCart">
                    <div class="row">
                        <div class=" col-md-6 mb-4">
                            <label for="country">Tipo Envio</label>
                            <select class="custom-select d-block w-100" id="shippingMethod" name=" shippingMethod"
                                required="">
                                <option value="">Elegir...</option>
                                <option value="Cadete">Cadete</option>
                                <option value="Correo">Correo Argentino</option>
                                <option value="Andreani">Andreani</option>
                                <option value="DHL">DHL</option>
                            </select>
                            <div class="invalid-feedback">
                                Elija un tipo de envio.
                            </div>

                        </div>
                        <div class=" col-md-6 mb-4">
                            <label for="country">Pago</label>
                            <select class="custom-select d-block w-100" id="paymentMethod" name="paymentMethod"
                                required="">
                                <option value="">Elegir...</option>
                                <option value="Efectivo">Efectivo</option>
                                <option value="Débito">Tarjeta Débito</option>
                                <option value="Crédito">Tarjeta Crédito</option>
                            </select>
                            <div class="invalid-feedback">
                                Elija un tipo de envio.
                            </div>

                        </div>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block waves-effect waves-light"
                        type="submit">Comprar</button>
                </form>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>
     <%- include('../partials/scripts') %>
    <script src="/javascripts/cart.js"></script>
  </body>
</html>
