<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Catalog" }) %>

<body>
  <!-- NAVBAR -->
  <%- include('../partials/header') %>

  <!-- todos los productos -->
  <div class="d-flex justify-content-between p-3">
    <h1>
      <%- titulo %>
    </h1>
    <% if (locals.userAdmin) { %>
    <a class="clean-anchor btn-catalog" href="/products/create">
      Create a new product
    </a>
    <% } %>
  </div>

  <div class="dropdown px-5">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      ORDENAR
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="/products/asc">Menor a mayor</a></li>
      <li><a class="dropdown-item" href="/products/desc">Mayor a menor</a></li>
    </ul>
  </div>

  <div class="row row-cols-1 row-cols-md-4 g-4 fondo-form">
    <% for (i=0 ; i < allShoes.length ; i++) { %>
    <div>
      <a class="clean-anchor" href="<%=`/products/detail/${allShoes[i].id}`%>">
        <div class="col">
          <div class="card">
            <h5 class="card-title ttl-catalog">
              <%= allShoes[i].productName %>
            </h5>
            <div class="contenedor-imagen empuje-empuje">
              <img src="<%=`/images/shoes-img/${allShoes[i].productName}/${allShoes[i].img}`%>" class="card-img-top" alt="<%=`imagen de ${allShoes[i].productName}`%>">
            </div>
      </a>
      <div class="card-body d-flex justify-content-between">
        <div>
          <p class="card-text">
            <strong>Price</strong> $<%= allShoes[i].price %>
          </p>
          <p class="card-text">
            <strong>Brand</strong>
            <%= allShoes[i].brand %>
          </p>
        </div>
        <div>
          <a class="btn-catalog agregar_carrito clean-anchor" data-id="<%= allShoes[i].id %>">Comprar</a>
          <% if (locals.userAdmin) { %>
          <a class="clean-anchor btn-catalog" href="<%=`/products/edit/${allShoes[i].id}`%>">
            Edit
          </a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  </div>
  <% } %>
  </div>


  <!-- FOOTER -->
  <%- include('../partials/footer') %>

  <!-- SCRIPTS -->
  <%- include('../partials/scripts') %>

</body>

</html>