<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: "Product Edit" }) %>

    <body>
        <!-- NAVBAR -->
        <%- include('./partials/header') %>

            <!-- EDIT FORM -->
            <div class="container products-wrapper">
                <div class="row">
                    <div class="col-12">
                        <h2 class="products-title">Edit: <i>
                                <%= productToEdit[0].productName %>
                            </i></h2>
                    </div>
                </div>
                <div class="col-12">
                    <form action="/products/edit/<%= productToEdit[0].id %>?_method=PUT" method="POST"
                        enctype="multipart/form-data">
                        <div class="row product-detail">
                            <div class="col-12 col-md-6">
                                <label for="name" class="form-label">Name:</label>
                                <input type="text" id="name" name="name" placeholder="Ej: Zapatillas Reebok" class="form-input"
                                    value="<%= productToEdit[0].productName %>">
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="price" class="form-label">Price:</label>
                                <input type="text" id="price" name="price" placeholder="Ej: 5678" class="form-input"
                                    value="<%= productToEdit[0].price %>">
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="brand" class="form-label">Brand:</label>
                                <input type="text" id="brand" name="brand" placeholder="Ej: Adidas" class="form-input"
                                    value="<%= productToEdit[0].brand %>">
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="discount" class="form-label">Size:</label>
                                <input type="text" id="discount" name="discount" placeholder="Ej: 15" class="form-input"
                                    value="<%= productToEdit[0].size %>">
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="img1" class="form-label">Image 1:</label>
                                <input type="file" id="img1" name="img1" placeholder="Image" class="form-input">
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="img2" class="form-label">Image 2:</label>
                                <input type="file" id="img2" name="img2" placeholder="Image" class="form-input">
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="img3" class="form-label">Image 3:</label>
                                <input type="file" id="img3" name="img3" placeholder="Image" class="form-input">
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="img4" class="form-label">Image 4:</label>
                                <input type="file" id="img4" name="img4" placeholder="Image" class="form-input">
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="category" class="form-label">Category:</label>
                                <select name="category" id="category" class="form-input">
                                    <% if (productToEdit[0].category==='Men´s' ) { %>
            
                                        <option value="">Select</option>
                                        <option value="Men´s" selected>Men´s</option>
                                        <option value="Women´s">Women´s</option>
            
                                        <% } else { %>
            
                                            <option value="">Selected</option>
                                            <option value="Men´s">Men´s</option>
                                            <option value="Women´s" selected>Women´s</option>
            
                                            <% } %>
                                </select>
                            </div>
                            <div class="col-12">
                                <label for="description" class="form-label">Description:</label>
                                <textarea name="description" id="description"
                                    class="form-input"><%= productToEdit[0].description %></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="buy-now-button">Save Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            
            </div>


            <!-- FOOTER -->

            <%- include('./partials/footer') %>

                <!-- SCRIPTS -->

                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
                    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
                    crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
                    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
                    crossorigin="anonymous"></script>
    </body>

</html>