<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Product Cart"}) %>

<body class="body-cart">
  <%- include('../partials/header') %>

  <!-- CART ITEMS DETAILS -->
  <div class="container-md cart-page">
    <table class="table-cart">
      <tr>
        <th class="th-cart">Product</th>
        <th class="th-cart">Quantity</th>
        <th class="th-cart">Subtotal</th>
      </tr>

      <!-- PRODUCTO 1 -->
      <tr style="border-bottom: 1px solid grey;">
        <td class="td-cart">
          <div class="cart-info">
            <img class='img-cart' src="/images/shoes-img/<%=allShoes[0].productName%>/<%=allShoes[0].img1%>" alt="">
            <div>
              <p><%= allShoes[0].productName %></p>
              <small>Price $<%= allShoes[0].price %></small>
            </div>
          </div>
        </td>
        <td class="td-cart"><input class="qty-cart" type="number" value='1'> <a class='remove-cart' href=""><i class="far fa-trash-alt"></i></a></td>
        <td class="td-cart">$<%= allShoes[0].price %></td>
      </tr>

      <!-- PRODUCTO 2 -->
      <tr>
        <td class="td-cart">
          <div class="cart-info">
            <img class='img-cart' src="/images/shoes-img/<%=allShoes[1].productName%>/<%=allShoes[1].img1%>" alt="">
            <div>
              <p><%= allShoes[1].productName %></p>
              <small>Price $<%= allShoes[1].price %></small>
            </div>
          </div>
        </td>
        <td class="td-cart"><input class="qty-cart" type="number" value='1'> <a class='remove-cart' href=""><i class="far fa-trash-alt"></i></a></td>
        <td class="td-cart">$<%= allShoes[1].price %></td>
      </tr>
    </table>

    <!-- TOTAL -->
    <div class="total-price">
      <table class="table-cart">
        <tr>
          <td class="td-cart">Subtotal</td>
          <td class="td-cart">$<%- allShoes[1].price + allShoes[0].price %></td>
        </tr>
        <tr>
          <td class="td-cart">Tax</td>
          <td class="td-cart">$21.00</td>
        </tr>
        <tr>
          <td class="td-cart">Total</td>
          <td class="td-cart">$<%- allShoes[1].price + allShoes[0].price + 21 %></td>
        </tr>
      </table>

    </div>
    <div class="boton-carrito">
      <a href="https://mpago.la/1pY3Qhq" id="buy-cart" class="submit-cart">Buy Now</a>
    </div>
  </div>

  <script src="/javascripts/sweetAlert.js"></script>

  <script src="sweetalert2.all.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  <%- include('../partials/footer') %>
</body>

</html>